@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Lato;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  padding: 18px 0 19px 0;
  position: relative;
  z-index: 2;
}

.burger-menu {
  background-color: #222222;
  border: none;
}

.header__nav {
  position: absolute;
  top: 78px;
  right: 0;
  z-index: 10;
}

.nav {
  width: 232px;
  background-color: #fff;
  height: calc(100vh - 78px);
  padding-left: 34px;
}

.nav__wrap {
  position: relative;
  text-align: left;
}

.nav__close {
  position: absolute;
  right: 17px;
  top: -17px;
}

#burger {
  display: none;
}

#burger:checked ~ .header__nav {
  display: block;
}

#burger:not(checked) ~ .header__nav {
  display: none;
}

.nav__list {
  list-style: none;
}

.nav__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 37px;
  margin-bottom: 24px;
}

.nav__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.nav__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
  margin-left: 21px;
}

.nav__item:last-child {
  margin-bottom: 20px;
}

.nav__item a {
  text-decoration: none;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  margin-right: 41px;
}

.header_item:not(:last-child) {
  margin-right: 33px;
}

.top {
  height: calc(100vh - 78px);
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.top_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: url(../image/top-man.png) no-repeat -198px bottom;
  background-size: contain;
}

.top_text {
  width: 50%;
}

.top_text h1 {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 38px;
}

.heading_decor {
  font-weight: 700;
  font-size: 32px;
}

.top_decor {
  color: #F16D7F;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 96px;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.catalog-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.catalog-item:not(:last-child) {
  width: 32%;
  height: 260px;
  margin-bottom: 30px;
}

.catalog-item:last-child {
  width: 100%;
  height: 180px;
}

.for_women {
  background: url(../image/dark_back.png) no-repeat, url(../image/for_women.jpg) no-repeat;
}

.for_men {
  background: url(../image/dark_back.png) no-repeat, url(../image/for_men.jpg) no-repeat;
}

.for_kids {
  background: url(../image/dark_back.png) no-repeat, url(../image/for_kids.jpg) no-repeat;
}

.accesories {
  background: url(../image/dark_back2.png) no-repeat, url(../image/accesories.jpg) no-repeat;
}

.heading_catalog {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

.text_decor {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.content {
  margin-bottom: 95px;
}

.item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}

.content-item {
  width: 360px;
  padding-bottom: 20px;
  background: #F8F8F8;
}

.content_img {
  position: relative;
  width: 360px;
  height: 420px;
}

.content_img:hover::after {
  content: "";
  background: url(../image/Hover.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.content-item a {
  text-decoration: none;
  color: #000000;
}

.heading_content {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 48px;
}

.heading_item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 25px 0 13px 18px;
}

.text_item {
  max-width: 314px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-left: 16px;
  margin-bottom: 18px;
}

.price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-left: 18px;
}

.link_product {
  text-align: center;
}

.link_product:hover {
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
}

.link_product:hover a {
  color: white;
  background-color: #F16D7F;
}

.all_product {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 15px 39px 14px 39px;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.service {
  background: #222224;
  padding: 104px 0 104px 0;
}

.service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  padding: 0 25px 0 30px;
}

.delivery:hover {
  -webkit-transform: scale(1.5) translateX(80px);
          transform: scale(1.5) translateX(80px);
  -webkit-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
}

.sales:hover {
  -webkit-transform: scale(3) rotate(360deg);
          transform: scale(3) rotate(360deg);
  -webkit-transition: all linear 2s;
  transition: all linear 2s;
}

@-webkit-keyframes crown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #F16D7F;
  }
  30% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    fill: #f0e006;
  }
  60% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    fill: #06f71a;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    fill: #4400ff;
  }
}

@keyframes crown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #F16D7F;
  }
  30% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    fill: #f0e006;
  }
  60% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    fill: #06f71a;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    fill: #4400ff;
  }
}

.assurance {
  fill: #F16D7F;
}

.assurance:hover {
  -webkit-animation: crown linear 4s;
          animation: crown linear 4s;
}

.service-item a {
  text-decoration: none;
}

.heading_service {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
  margin-top: 25px;
}

.text_service {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  text-align: center;
}

.feedback {
  background: url(../image/feedback_back.jpg) no-repeat;
  background-size: cover;
}

.feedback_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 97px 0 126px 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_info {
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

.form_heading {
  margin-top: 53px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 32px;
}

.form_decor {
  font-weight: 400;
  font-size: 18px;
}

.form_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  padding: 16px 70px 17px 22px;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
  border: none;
  margin-right: -3px;
}

.text::-webkit-input-placeholder {
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.text:-ms-input-placeholder {
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #222224;
  opacity: 0.67;
}

.text::-ms-input-placeholder {
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #222224;
  opacity: 0.67;
}

.text::placeholder {
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.submit {
  padding: 17px 20px 16px 21px;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  background-color: #F16D7F;
  color: white;
  border: none;
}

.bottom {
  background: #222224;
  padding: 24px 0 23px 0;
}

.bottom_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text_bottom {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: white;
  line-height: 32px;
  text-align: center;
}

.icon i {
  color: black;
}

.icon i:hover {
  color: white;
}

.icon:hover {
  background-color: #F16D7F;
}

/* Каталог: */
.intro {
  background-color: #F8F3F4;
  padding: 59px 0 60px 0;
}

.intro_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading_intro {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs .active,
.breadcrumbs a:hover {
  font-weight: 700;
  color: #F16D7F;
}

.products {
  position: relative;
}

.filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
}

.filter_container {
  width: 390px;
}

.catalog_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.categories svg {
  margin-left: 11px;
}

.categories[open] {
  width: 360px;
  height: 531px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background: white;
  position: absolute;
  left: 10px;
  top: 0px;
  z-index: 10;
  padding: 13px 16px 0 16px;
}

.categories[open] .filter {
  color: #EF5B70;
}

.categories[open] svg path {
  fill: #EF5B70;
}

details > summary,
details > ul,
details > ul > li {
  list-style: none;
}

.filter {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filer_inside {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 37px;
  color: #EF5B70;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 11px;
  margin-bottom: 18px;
}

.category {
  margin-top: 16px;
}

.category_items {
  margin: 20px 0 20px 17px;
}

.category_items > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.category_items > li:not(:last-child) {
  margin-bottom: 9px;
}

.catalog {
  margin-top: 65px;
}

.catalog_cards {
  margin-bottom: 0;
}

.filter_trend,
.label-title,
.filtr_price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filter_trend img,
.label-title img,
.filtr_price img {
  margin-left: 10px;
}

.size {
  position: relative;
  display: inline-block;
}

.size ul {
  position: absolute;
  background: white;
  list-style: none;
  min-width: 79px;
  left: 0px;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.size ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  padding: 6px;
}

.size ul li input {
  margin-right: 9px;
  border: 1px solid #EBEBEB;
}

.size:hover ul {
  display: block;
}

.page_switch {
  padding: 12px 15px;
  border: 1px solid #EBEBEB;
  margin: 48px auto 96px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  width: 284px;
}

.page_switch a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.page_switch .active {
  color: #EF5B70;
}

.back-forward {
  border: none;
  background-color: white;
}

/* Страница продукта: */
.slider {
  padding: 11px 0 42px 0;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-back,
.slider-forward {
  width: 47px;
  height: 47px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(42, 42, 42, 0.15);
  border: none;
}

.product__info {
  position: relative;
  margin-top: -60px;
  background-color: white;
  z-index: 2;
  padding: 64px 0 65px 0;
  margin-bottom: 129px;
}

.collection {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-align: center;
}

.collection::after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin: 12px auto;
}

.product_name {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
  margin-bottom: 48px;
}

.about_product {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  margin: 0 auto 32px auto;
}

.product_price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  text-align: center;
  margin-bottom: 65px;
}

.product__info hr {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin: 0 auto;
}

.product-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
  margin: 65px auto 49px auto;
}

.product-filter div {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.vector {
  margin-left: 9px;
}

.to_cart {
  margin: 0 auto;
  border: 1px solid #FF6A6A;
  width: 211px;
}

.to_cart a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 47px;
  color: #F26376;
}

.cart {
  margin: 14px 23px 0 23px;
}

.other_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 128px;
}

.cart-intro {
  background-color: #F8F3F4;
  padding: 59px 0 60px 0;
}

.cart-intro h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: left;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 128px;
  margin-top: 96px;
}

.buy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-right: 128px;
}

.buy__items article {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  position: relative;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.buy__items article img {
  width: 262px;
}

.buy__items article .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 202px;
  text-align: left;
}

.buy__items article .text h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-top: 22px;
  margin-bottom: 42px;
}

.buy__items article .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.buy__items article .text p span {
  color: #F16D7F;
}

.buy__items article .text p input {
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
}

.buy__items article svg {
  position: absolute;
  top: 28px;
  right: 22px;
}

.buy__items-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buy__items-buttons button {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px 16px 40px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
}

.buy__form {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buy__form form h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 27px;
  margin-bottom: 20px;
}

.buy__form form input {
  width: 360px;
  height: 45px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding-left: 17px;
}

.buy__form form .quote {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding: 10px 14px 12px 15px;
  margin-right: auto;
  margin-bottom: 58px;
}

.buy__form .cost {
  background: #F5F3F3;
  padding: 39px 37px 42px 44px;
}

.buy__form .cost__sub {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
  text-align: right;
}

.buy__form .cost__total {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
  text-align: right;
  margin-bottom: 21px;
}

.buy__form .cost__total span {
  color: #F16D7F;
}

.buy__form .cost hr {
  border: 1px solid #E2E2E2;
  background: #E2E2E2;
  margin-bottom: 17px;
}

.buy__form .cost__checkout {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 15px 39px 16px 39px;
  border: none;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin-right: 128px;
}

.registration__form form h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__form form input {
  padding: 13px 0 16px 17px;
}

.registration__form form input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form form input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form form input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form form input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form form .name,
.registration__form form .login {
  margin-bottom: 21px;
}

.registration__form form .gender {
  margin: 31px 0 33px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__form form .gender label {
  margin-left: 10px;
}

.registration__form form .gender .male {
  margin-right: 20px;
}

.registration__form form .gender__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__form form .gender__item input {
  width: 17px;
  height: 17px;
}

.registration__form form p {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 16px 0 39px 0;
}

.registration__form form button {
  padding: 15px 28px 16px 29px;
  background-color: #F16D7F;
  border: none;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.registration__form form button::after {
  content: "→";
  margin-left: 20px;
  font-size: 20px;
}

.registration__advantage h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration__advantage p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.registration__advantage li {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px;
  list-style-image: url(../image/advantage_vector.svg);
  padding-left: 22px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .container {
    max-width: 756px;
  }
  .top {
    height: 368px;
    margin-bottom: 20px;
  }
  .top_wrap {
    background-size: contain;
    background-position-x: -8px;
  }
  .top_text {
    width: 45%;
  }
  .top_text h1 {
    font-size: 44px;
  }
  .top_text h1 .heading_decor {
    font-size: 24px;
  }
  .catalog {
    margin-bottom: 155px;
  }
  .catalog-item:not(:last-child) {
    width: 31.5%;
    height: 168px;
    margin-bottom: 20px;
    background-size: contain;
  }
  .catalog-item:last-child {
    height: 116px;
    background-size: contain;
  }
  .content {
    margin-bottom: 65px;
  }
  .content .heading_content {
    margin-bottom: 3px;
  }
  .content .text {
    margin-bottom: 74px;
  }
  .content .item_container {
    gap: 16px;
    margin-bottom: 48px;
  }
  .service {
    padding: 48px 0 64px 0;
  }
  .service_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
  }
  .feedback_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px;
    padding: 54px 0 140px 0;
  }
  .feedback_container .form_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bottom {
    padding: 24px 22px 23px 22px;
  }
}

@media (max-width: 376px) {
  .container {
    max-width: 359px;
    padding: 0;
  }
  .header {
    padding: 18px 6px 19px 6px;
  }
  .header_right {
    margin: auto 0;
  }
  .header .registration_icon,
  .header .cart_icon {
    display: none;
  }
  .header .burger-menu {
    margin-right: 10px;
  }
  .top {
    height: 363px;
    margin-bottom: 64px;
  }
  .top_wrap {
    background: none;
  }
  .top_text {
    width: 92%;
    font-size: 38px;
    line-height: 24px;
  }
  .top_text .heading_decor {
    font-size: 20px;
    line-height: 20px;
  }
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 64px;
    padding: 0 8px 0 8px;
  }
  .catalog-item:not(:last-child) {
    width: 100%;
    height: 247px;
    margin-bottom: 32px;
  }
  .catalog-item:last-child {
    height: 111px;
    background-size: cover;
  }
  .content {
    margin-bottom: 110px;
  }
  .content .text {
    margin-bottom: 65px;
  }
  .content .intro_container {
    margin-bottom: 55px;
  }
  .service {
    padding-bottom: 81px;
  }
  .feedback {
    padding: 54px 0 115px 0;
  }
  .feedback_container {
    gap: 59px;
  }
  .feedback_container .info img {
    width: 92px;
    height: 92px;
  }
  .feedback_container .text_info {
    font-size: 18px;
    line-height: 22px;
  }
  .feedback_container .form_decor {
    font-size: 14px;
    line-height: 21px;
  }
  .feedback_container .form_heading {
    margin: 59px 0 29px 0;
  }
  .bottom {
    padding: 43px 0 9px 0;
  }
  .bottom_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
/*# sourceMappingURL=style.css.map */